{% assign share_url = site.url | append: site.baseurl | append: page.url | uri_escape %}
{% assign share_title = page.title | uri_escape %}
<ul class="share-buttons" aria-label="Share this post">
  {% if site.email-share %}
  <li><a class="share-email" href="mailto:?subject={{ share_title }}&amp;body={{ share_url }}" data-proofer-ignore>
    <i class="fa-solid fa-envelope" aria-hidden="true"></i><span>Email</span></a></li>
  {% endif %}
  {% if site.fb-share %}
  <li><a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" data-share-popup>
    <i class="fa-brands fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a></li>
  {% endif %}
  {% if site.twitter-share %}
  <li><a class="share-x" href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text={{ share_title }}" data-share-popup>
    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i><span>X</span></a></li>
  {% endif %}
  {% if site.linkedin-share %}
  <li><a class="share-linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url }}" data-share-popup>
    <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i><span>LinkedIn</span></a></li>
  {% endif %}
  {% if site.reddit-share %}
  <li><a class="share-reddit" href="https://www.reddit.com/submit?url={{ share_url }}&amp;title={{ share_title }}" target="_blank" rel="noopener">
    <i class="fa-brands fa-reddit-alien" aria-hidden="true"></i><span>Reddit</span></a></li>
  {% endif %}
  {% if site.tumblr-share %}
  <li><a class="share-tumblr" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ share_url }}&amp;title={{ share_title }}" target="_blank" rel="noopener">
    <i class="fa-brands fa-tumblr" aria-hidden="true"></i><span>Tumblr</span></a></li>
  {% endif %}
  {% if site.pinterest-share %}
  <li><a class="share-pinterest" href="https://pinterest.com/pin/create/button/?url={{ share_url }}" target="_blank" rel="noopener">
    <i class="fa-brands fa-pinterest-p" aria-hidden="true"></i><span>Pinterest</span></a></li>
  {% endif %}
  {% if site.pocket-share %}
  <li><a class="share-pocket" href="https://getpocket.com/save?url={{ share_url }}" target="_blank" rel="noopener">
    <i class="fa-brands fa-get-pocket" aria-hidden="true"></i><span>Pocket</span></a></li>
  {% endif %}
  {% if site.vkontakte-share %}
  <li><a class="share-vk" href="https://vk.com/share.php?url={{ share_url }}" data-share-popup>
    <i class="fa-brands fa-vk" aria-hidden="true"></i><span>VK</span></a></li>
  {% endif %}
</ul>
