<ul class="list-inline social-buttons">
  {% for network in site.social %}
  <li class="list-inline-item"><a href="{{ network.url }}" target="_blank" rel="noopener" aria-label="{{ network.title }}">
    <i class="{{ network.icon }} fa-fw" aria-hidden="true"></i></a></li>
  {% endfor %}
  {% if site.keybase-in-social %}
  <li class="list-inline-item"><a href="https://keybase.io/{{site.keybase-username}}" target="_blank" rel="noopener" aria-label="Keybase">
    <i class="fa-solid fa-key fa-fw" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>
